@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

.retrox_hero_content {
    width: 1320px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    position: relative;
}

.retrox_hero_header {
    font-weight: 800;
    font-size: 3rem;
    color: rgb(232, 230, 227, 1);
    display: block;
    margin-bottom: 1rem;
    max-width: 42rem;
}

.retrox_hero_description {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(232, 230, 227, 1);
    display: block;
    max-width: 42rem;
}